:root {
  --orange: #ff6700;
  --white: #ebebeb;
  --black: #1e1b18;
  --dkBackground: rgb(21, 36, 53);
  --blue1: #3a6ea5;
  --blue2: #004e98;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
